<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
</head>
<body>
  <h1>Add new recipe</h1>
  <div id="addNewRecipeContent">
    <div class="newRecipeInput">
      <label>Recipe name</label>
      <input id="nameIput" pattern="[A-Za-z]{1,20}">
    </div>
    <div class="newRecipeInput">
      <label>Duration in minutes</label>
      <input id="durationInput" type="number" min="1">
    </div>
    <div class="newRecipeInput">
      <textarea pattern=".{1,500}">Recipe description</textarea>
    </div>
    <div id="searchDropdownDiv">
      <div th:replace="thFragments.html :: cuisineDropdown"></div>
      <div th:replace="thFragments.html :: dietDropdown"></div>
      <div th:replace="thFragments.html :: courseDropdown"></div>
      <div th:replace="thFragments.html :: ingredientDropdown"></div>
    </div>
    <div class="newRecipeInput">
      <label>Add new ingredient</label>
      <input id="newIngredientInput" pattern="[A-Za-z]{1,20}">
      <button id="addIngredientButton">Add ingredient</button>
    </div>
  </div>

  <button id="addNewRecipeButton">Add new recipe</button>


</body>

</html>
