<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Recipe</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
  <script type="text/javascript">
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
      document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.1/bluebird.min.js"><\/script>');
    }
  </script>
</head>
<body>


  <div th:replace="subPageFragments.html :: mainPageUpperFragment"></div>

  <section class="middleSection">
    <div th:replace="subPageFragments.html :: navigationMainPageFragment"></div>
    <div class="subPageContainer" th:replace="subPageFragments.html :: addNewRecipeFragment"></div>
  </section>
  <div th:replace="subPageFragments.html :: mainPageFooterFragment"></div>

</body>

</html>
