<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="testScript.js" type="text/javascript"></script>
</head>
<body>

  <header>cookit</header>
  <section class = "menu">
   <!--   <div class="menuContent"><a th:href="@{searchRecipes}" id="search">search</a></div> -->
      <div class="menuContent"><a id="searchRecipes" onclick="javascript:ReplaceContentInContainer('recipes/searchRecipes')">search recipes</a></div>
      <div class="menuContent"><a id="userlogin" onclick="javascript:ReplaceContentInContainer('userlogin')">login</a></div>
      <div class="menuContent"><a id="signup" onclick="javascript:ReplaceContentInContainer('signup')">sign up</a></div>
      <div class="menuContent"><a id="compare" onclick="javascript:ReplaceContentInContainer('compareRecipes')">compare</a></div>
      <div class="menuContent">
          <a id="DE" onclick="javascript:ReplaceContentInContainer('recipes/all')">DE</a>
          <a id="FR">FR</a>
          <a id="EN">EN</a>
      </div>
  </section>
  <section id="middleSection">
    <div id="navigation" >
        <h4>Main ingredient</h4>
          <a href="">Meat</a>
          <a href="">Vegetables</a>
          <a href="">Pulses</a>
          <a href="">Milk</a>
        <h4>Special diet</h4>
          <a href="">Gluten free</a>
          <a href="">Vegetarian</a>
          <a href="">Paleo</a>
          <a href="">Vegan</a>
        <h4>Meal type / course</h4>
          <a href="">Breakfast</a>
          <a href="">Lunch</a>
          <a href="">Dinner</a>
        <h4>Cuisine</h4>
    </div>
    <div id="subPageContainer" th:insert="login_old.html"> </div>
  </section>
  <footer>@ Remo Hofmann, Lukas Zoller</footer>

  <script type="text/javascript">

    function ReplaceContentInContainer(subpageUrl) {
        $('#subPageContainer').load(subpageUrl);
    }

  </script>


</body>

</html>
