<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
    <link href="/static/css/main_page.css" th:href="@{/css/main_page.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="events.js"></script>
</head>
<body>
  <header>cookit</header>
  <section class = "menu">
      <div class="menuContent"><a th:href="@{searchRecipes}" id="search">search</a></div>
      <div class="menuContent"><a th:href="@{userlogin}" id="userlogin">login</a></div>
      <div class="menuContent"><a th:href="@{signup}" id="signup">sign up</a></div>
      <div class="menuContent"><a id="compare">compare</a></div>
  </section>
  <section id="middleSection">
    <div id="navigation">
        <h4>Main ingredient</h4>
          <a href="">Meat</a>
          <a href="">Vegetables</a>
          <a href="">Pulses</a>
          <a href="">Milk</a>
        <h4>Special diet</h4>
          <a href="">Gluten free</a>
          <a href="">Vegetarian</a>
          <a href="">Paleo</a>
          <a href="">Vegan</a>
        <h4>Meal type / course</h4>
          <a href="">Breakfast</a>
          <a href="">Lunch</a>
          <a href="">Dinner</a>
        <h4>Cuisine</h4>
    </div>
    <div id="subPageContainer" th:insert="testFragments :: testFragment"> </div>
  </section>
  <footer>@ Remo Hofmann, Lukas Zoller</footer>
  <button id="testButton">TestButton</button>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script>
"use strict";

function helloWorldFunction() {
    document.getElementById('subPageContainer').innerHTML = 'Hello World';
    return false;
}

document.getElementById('testButton').addEventListener('click', helloWorldFunction);
</script>

</body>

</html>
