<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
</head>
<body>
  <header>cookit</header>
  <section class = "headerContainer">
    <img src="../static/images/pfanne.jpg" class="headerContent" id="logo" th:src="@{images/pfanne.jpg}" alt="logo"/>
    <a th:href="@{searchRecipes}" class="headerContent" id="search">search</a>
    <a th:href="@{login}" class="headerContent" id="login">login</a>
    <a th:href="@{signup}" class="headerContent" id="signup">sign up</a>
    <a class="headerContent" id="compare">compare</a>
  </section>
  <section id="middleSection">
    <nav id="navigation">
      <ul>
        <li>Main ingredient</li>
          <a href="">Meat</a>
          <a href="">Vegetables</a>
          <a href="">Pulses</a>
          <a href="">Milk</a>
        <li>Special diet</li>           
          <a href="">Gluten free</a>
          <a href="">Vegetarian</a>
          <a href="">Paleo</a>
          <a href="">Vegan</a>
        <li>Meal type / course</li>
          <a href="">Breakfast</a>
          <a href="">Lunch</a>
          <a href="">Dinner</a>
        <li>Cuisine</li>
      </ul>
    </nav>
    <section id="container">"Container"<?php include "compareRecipes.php"  ?></section>
  </section>
  <footer>@ Remo Hofmann, Lukas Zoller</footer>

</body>

</html>
