<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>CookIt</title>
  <meta charset="utf-8">
    <link href="/static/css/main_page.css" th:href="@{/css/main_page.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/events.js}"></script>
</head>

<body>

    <div th:replace="subPageFragments.html :: mainPageUpperFragment"></div>

    <section class="middleSection">
        <div th:replace="subPageFragments.html :: navigationMainPageFragment"></div>
        <div class="subPageContainer"> Empty subpage container</div>
    </section>
    <div th:replace="subPageFragments.html :: mainPageFooterFragment"></div>



  <script type="text/javascript">
      function ReplaceContentInContainer(subpageUrl) {
          $('#subPageContainer').load(subpageUrl);
      }


  </script>


</body>

</html>
