<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cooking Webapp</title>
    <link href="/static/css/site.css" th:href="@{/css/main_page.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <tr>
        <th>Recipe Number</th>
        <th>Name</th>
        <th>Other Info</th>
    </tr>
    <!--
    <tr th:each="recipe:${recipes}">
        <td th:text="${recipe.recipeName}"></td>
        <td th:text="${recipe.recipeDescription}"></td>
        <td th:text="${recipe.recipeDuration}"></td>
    </tr>
    -->
    <tr th:each="recipe:${recipes}">
        <div th:replace="thFragments.html :: recipeTileFragment(
        name=${recipe.recipeName},
        description=${recipe.recipeDescription},
        duration=${recipe.recipeDuration},
        id=${recipe.id})"></div>
    </tr>

</table>

</body>
</html>