<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <script th:src="@{/events.js}"></script>
</head>
<body onload="init();">


  <div th:replace="subPageFragments.html :: mainPageUpperFragment"></div>

  <section class="middleSection">
    <div th:replace="subPageFragments.html :: navigationMainPageFragment"></div>
    <div class="subPageContainer" th:replace="subPageFragments.html :: searchRecipesFragment"></div>
  </section>
  <div th:replace="subPageFragments.html :: mainPageFooterFragment"></div>




  <script>
    $(document).ready(function(){
      $(".recipeInformation").hide();
      $(".recipeTileFragment").click(function(){
        jQuery(this).children("div").toggle();    // code from: https://www.geeksforgeeks.org/jquery-children-with-examples/
      });
    });
  </script>
</body>

</html>
