<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <script th:src="@{/events.js}"></script>
</head>
<body onload="init();">


  <h1>Search for recipes</h1>
  <div id="selectionDiv">
    <label>Cuisine</label>
    <select multiple size="6">
      <option value="Indian">Indian</option>
      <option value="Swiss">Swiss</option>
      <option value="Austrian">Austrian</option>
      <option value="French">French</option>
      <option value="Japanese">Japanese</option>
      <option value="Chinese">Chinese</option>
      <option value="American">American</option>
    </select>
    <label>Special diet</label>
    <select multiple size="6">
      <option value="Gluten free">Gluten free</option>
      <option value="Vegetarian">Vegetarian</option>
      <option value="Vegan">Vegan</option>
      <option value="Paleo">Paleo</option>
    </select>
    <label>Course</label>
    <select multiple size="6">
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
    </select>
    <label>Ingredient</label>
    <select multiple size="6">
      <option value="Milk">Milk</option>
      <option value="Eggs">Eggs</option>
      <option value="Chicken">Chicken</option>
      <option value="Celery">Celery</option>
      <option value="Apples">Apples</option>
      <option value="Oranges">Oranges</option>
      <option value="Rice">Rice</option>
      <option value="Noodles">Noodles</option>
      <option value="Mustard">Mustard</option>
    </select>
    <br/>
    <button id="filterRecipesButton">Filter recipes</button>

  </div>

  <h1>Search results</h1>
    <div id="searchRecipesResults">
      <div th:each="recipe:${recipes}">
        <div th:replace="thFragments.html :: recipeTileFragment(
        name=${recipe.recipeName},
        description=${recipe.recipeDescription},
        duration=${recipe.recipeDuration})"></div>

      </div>
    </div>

  </div>

  <script>
    $(document).ready(function(){
      $(".recipeInformation").hide();
      $(".recipeTileFragment").click(function(){
        jQuery(this).children("div").toggle();    // code from: https://www.geeksforgeeks.org/jquery-children-with-examples/
      });
    });



    function showDropContent(dropDownBtnID) {   // code from: https://www.w3schools.com/howto/howto_js_dropdown.asp
      // alert(dropDownBtnID);
      document.getElementById(dropDownBtnID).classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {      // code from: https://www.w3schools.com/howto/howto_js_dropdown.asp
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }


  </script>
</body>

</html>
