<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <script src="events.js"></script>
</head>
<body onload="init();">

  <header>Search for recipes</header>
  <div id = "dropdownDivision">
    <button class="dropbtn" onclick="cuisineDropdownFunction()" id="cuisineDropBtn">Cuisine
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="cuisineDropdownContent" class="dropdown-content">
      <p>Indian</p>
      <p>Swiss</p>
      <p>Austrian</p>
      <p>French</p>
      <p>Japanese</p>
      <p>American</p>
      <p>Chinese</p>
    </div>
    <button class="dropbtn" onclick="courseDropdownFunction()" id="courseDropBtn">Course
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="courseDropdownContent" class="dropdown-content">
      <p>Breakfast</p>
      <p>Lunch</p>
      <p>Dinner</p>
    </div>
    <button class="dropbtn" onclick="ingredientDropdownFunction()" id="ingredientDropBtn">Ingredient
      <i class="fa fa-caret-down"></i>
    </button>
    <div id="ingredientDropdownContent" class="dropdown-content">
      <p>Milk</p>
      <p>Eggs</p>
      <p>Chicken</p>
      <p>Celery</p>
      <p>Apples</p>
      <p>Oranges</p>
      <p>Rice</p>
      <p>Noodles</p>
      <p>Mustard</p>

    </div>



    


  </div>
  <div>Popular Recipes List</div>

  <!--<script>-->
    <!--// Sourcecode for this function from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar_click-->

    <!--function cuisineDropdownFunction() {-->
      <!--document.getElementById("cuisineDropdownContent").classList.toggle("show");-->
    <!--}-->
    <!--function courseDropdownFunction() {-->
      <!--document.getElementById("courseDropdownContent").classList.toggle("show");-->
    <!--}-->
    <!--function ingredientDropdownFunction() {-->
      <!--document.getElementById("ingredientDropdownContent").classList.toggle("show");-->
    <!--}-->
    <!--// Close the dropdown if the user clicks outside of it-->
    <!--window.onclick = function(e) {-->
    <!--if (!e.target.matches('.dropbtn')) {-->
    <!--var myDropdown = document.getElementById("myDropdown");-->
      <!--if (myDropdown.classList.contains('show')) {-->
        <!--myDropdown.classList.remove('show');-->
      <!--}-->
  <!--}-->
<!--}-->

  <!--</script>-->




</body>

</html>
