<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>CookIt</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
</head>
<body>
  <div th:replace="subPageFragments.html :: mainPageUpperFragment"></div>

  <div class="middleSection">
    <div th:replace="subPageFragments.html :: navigationMainPageFragment"></div>
    <div class="subPageContainer" th:replace="subPageFragments.html :: singleRecipeFragment"></div>
  </div>
  <div th:replace="subPageFragments.html :: mainPageFooterFragment"></div>




</body>

</html>
