<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <link th:href="@{/css/main_page.css}" rel="stylesheet"/>
</head>
<body>
  <div th:replace="thFragments.html :: singleRecipe(
    name=${recipe.recipeName},
    duration=${recipe.recipeDuration},
    description=${recipe.recipeDescription},
    ingredients=${ingredients},
    specialDiet=${recipe.recipeName},
    course=${recipe.recipeName},
    tags=${tags})">
  </div>
</body>

</html>
