
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <!-- Upper fragment for mainPage -->
    <div th:fragment="mainPageUpperFragment()" class="mainPageUpperFragment">

        <header>cookit</header>
        <section class = "menu">
            <!--   <div class="menuContent"><a th:href="@{searchRecipes}" id="search">search</a></div> -->
            <div class="menuContent"><a id="searchRecipes" href="/recipes/searchRecipes">search recipes</a></div>
            <div class="menuContent" sec:authorize="isAnonymous()"><a id="userlogin" href="/login">login</a></div>
            <div class="menuContent" sec:authorize="isAnonymous()"><a id="signup" href="/signup">sign up</a></div>
            <div class="menuContent" sec:authorize="isAuthenticated()"><a id="addRecipe" href="/user/addNewRecipe">Add recipe</a></div>
            <div class="menuContent"><a id="compare" href="/recipes/compareRecipes">compare</a></div>
            <div class="menuContent" sec:authorize="hasAuthority('ADMIN')"><a id="adminPage" href="/admin/adminArea">Admin Page</a></div>
            <div class="menuContent">
                <a id="DE">DE</a>
                <a id="FR">FR</a>
                <a id="EN">EN</a>
            </div>
        </section>

    </div>

    <!-- navigation fragment for mainPage -->
    <div th:fragment="navigationMainPageFragment()" class="navigation">
        <h4>Special diet</h4>
            <a href="/recipes/glutenFree">Gluten free</a>
            <a href="/recipes/vegetarian">Vegetarian</a>
            <a href="/recipes/paleo">Paleo</a>
            <a href="/recipes/vegan">Vegan</a>
        <h4>Meal type / course</h4>
            <a href="/recipes/breakfast">Breakfast</a>
            <a href="/recipes/lunch">Lunch</a>
            <a href="/recipes/dinner">Dinner</a>
        <h4>Cuisine</h4>
            <a href="/recipes/indian">Indian</a>
            <a href="/recipes/swiss">Swiss</a>
            <a href="/recipes/chinese">Chinese</a>
        <h4>Comparison list</h4>
            <a href="">Recipe 1</a>
            <a href="">Recipe 2</a>
        <div id="logoutDiv" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button class="filterAddButton" type="submit">Logout</button>
            </form>
        </div>
    </div>

    <!-- navigation fragment for mainPage -->
    <div th:fragment="mainPageFooterFragment()" class="mainPageFooterFragment">
        <footer>@ Remo Hofmann, Lukas Zoller</footer>
    </div>
    <!--------------- end of main page fragments ---------------------------------------------------------------------->

    <!-- addNewRecipeFragment -->
    <div th:fragment="addNewRecipeFragment()"  class="subPageContainer">
        <h1>Add new recipe</h1>
        <form th:action="@{/user/addNewRecipe}" th:object="${newRecipe}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Missing input parameters</div>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">Successfully created</div>
            </div>

            <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

            <div class="form-group" th:classappend="${#fields.hasErrors('nameInput')}? 'has-error':''">
                <label for="nameInput" class="control-label">Recipe name</label>
                <input id="nameInput" class="form-control" th:field="*{nameInput}" pattern="[A-Za-z]{1,20}" required/>
                <p class="error-message" th:each="error: ${#fields.errors('nameInput')}" th:text="${error}">Validation error</p>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('durationInput')}? 'has-error':''">
                <label for="durationInput" class="control-label">Duration in minutes</label>
                <input id="durationInput" class="form-control" th:field="*{durationInput}" type="number" min="1" required/>
                <p class="error-message" th:each="error: ${#fields.errors('durationInput')}" th:text="${error}">Validation error</p>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('recipeDescription')}? 'has-error':''">
                <label for="recipeDescription" class="control-label">Recipe description</label>
                <textarea id="recipeDescription" class="form-control" th:field="*{recipeDescription}" pattern=".{1,500}" required>Recipe description</textarea>
                <p class="error-message" th:each="error: ${#fields.errors('recipeDescription')}" th:text="${error}">Validation error</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('ingredients')}? 'has-error':''">
                <div th:replace="thFragments.html :: ingredientDropdownForCreation(ingredients=${ingredients})"></div>
                <p class="error-message" th:each="error: ${#fields.errors('ingredients')}" th:text="${error}">Validation error</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('cuisineTags')}? 'has-error':''">
                <div th:replace="thFragments.html :: cuisineDropdownForCreation(tags=${tagCuisine})"></div>
                <p class="error-message" th:each="error: ${#fields.errors('cuisineTags')}" th:text="${error}">Validation error</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('courseTags')}? 'has-error':''">
                <div th:replace="thFragments.html :: courseDropdownForCreation(tags=${tagCourse})"></div>
                <p class="error-message" th:each="error: ${#fields.errors('courseTags')}" th:text="${error}">Validation error</p>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('dietTags')}? 'has-error':''">
                <div th:replace="thFragments.html :: dietDropdownForCreation(tags=${tagDiet})"></div>
                <p class="error-message" th:each="error: ${#fields.errors('dietTags')}" th:text="${error}">Validation error</p>
            </div>
            <button type="submit" class="btn btn-success" id="addNewRecipeButton">Add new recipe</button>
        </form>
<!--        <div id="addNewRecipeContent">-->
<!--            <div class="newRecipeInput">-->
<!--                <label>Recipe name</label>-->
<!--                <input id="nameIput" pattern="[A-Za-z]{1,20}" required>-->
<!--            </div>-->
<!--            <div class="newRecipeInput">-->
<!--                <label>Duration in minutes</label>-->
<!--                <input id="durationInput" type="number" min="1" required>-->
<!--            </div>-->
<!--            <div class="newRecipeInput">-->
<!--                <textarea pattern=".{1,500}" required>Recipe description</textarea>-->
<!--            </div>-->
<!--            <div id="searchDropdownDiv">-->
<!--                <div th:replace="thFragments.html :: cuisineDropdown(tags=${tagCuisine})"></div>-->
<!--                <div th:replace="thFragments.html :: dietDropdown(tags=${tagDiet})"></div>-->
<!--                <div th:replace="thFragments.html :: courseDropdown(tags=${tagCourse})"></div>-->
<!--                <div th:replace="thFragments.html :: ingredientDropdown(ingredients=${ingredients})"></div>-->
<!--            </div>-->
        <div class="newRecipeInput">
            <form th:action="@{/user/addNewIngredient}" th:object="${newIngredient}" method="post">
                <div class="form-group" th:classappend="${#fields.hasErrors('ingredientName')}? 'has-error':''">
                    <label for="ingredientName" class="control-label">Add new Ingredient</label>
                    <input id="ingredientName" class="form-control" th:field="*{ingredientName}" pattern="[A-Za-z]{1,20}" required>
                    <p class="error-message" th:each="error: ${#fields.errors('ingredientName')}" th:text="${error}">Validation error</p>
                </div>
                <button type="submit" id="addIngredientButton">Add ingredient</button>
            </form>
        </div>
<!--        </div>-->

<!--        <button id="addNewRecipeButton">Add new recipe</button>-->

    </div>

    <!-- adminArea -->
    <div th:fragment="adminAreaFragment()"  class="subPageContainer">
        <div class="adminArea">
            <h1>Admin Area</h1>
            <div th:if="${param.tagNotSaved}">
                <div class="alert alert-danger">Tag with this Name already exists</div>
            </div>
            <div th:if="${param.tagSaved}">
                <div class="alert alert-info">Successfully created Tag</div>
            </div>
            <div th:if="${param.userDeleted}">
                <div class="alert alert-info">Successfully deleted User</div>
            </div>
            <div th:if="${param.recipeDeleted}">
                <div class="alert alert-info">Successfully deleted Recipe</div>
            </div>
            <h2>Delete recipe</h2>
            <form th:action="@{/admin/deleteRecipe}" method="post">
                <select name="Recipes" size="6" th:name="recipeId" required>
                    <option th:each="recipe:${recipes}" th:value="${recipe.id}" th:text="${recipe.recipeName}"/>
                </select>
                <button type=submit class="goToRecipeButton" id="deleteRecipeButton">Delete recipe</button>
            </form>

            <h2>Delete user</h2>
            <form th:action="@{/admin/deleteUser}" method="post">
                <div class="adminDiv">
                    <select name="Recipes" size="6" th:name="userId" required>
                        <option th:each="user:${users}" th:value="${user.id}" th:text="${user.username}"/>
                    </select>
                    <button type="submit" class="goToRecipeButton" id="deleteUserButton">Delete user</button>
                </div>
            </form>
            <h2>Add tag</h2>
            <form th:action="@{/admin/addTag}" th:object="${newTag}" method="post">
                <div class="adminDiv">
                    <label for="tagName" class="control-label">Enter new tag</label>
                    <input id="tagName" class="form-control" th:field="*{tagName}" type="text" name="Enter new tag" pattern="[A-Za-z]{1,20}" required/>
                    <label for="options" class="control-label">Tag Type</label>
                    <select id="options" name="Types" size="3" th:field="*{tagType}" required/>
                        <option th:each="option:${options}" th:value="${option.id}" th:text="${option.optionName}" />
                    </select>
                    <button type=submit class="goToRecipeButton" id="addNewTagButton">Add new tag</button>
                </div>
            </form>
        </div>
    </div>


    <!-- compareRecipesFragment -->
    <div th:fragment="compareRecipesFragment()" class="subPageContainer">
        <h1>Compare recipes</h1>
        <div id="compareRecipesContainer">
            <div th:replace="thFragments.html :: recipeCompareFirstRowFragment"></div>
            <div th:each="recipe:${recipes}">
                <div th:replace="thFragments.html :: recipeCompareFragment(
                    name=${recipe.recipeName},
                    duration=${recipe.recipeDuration},
                    description=${recipe.recipeDescription},
                    ingredients=${recipe.recipeName},
                    specialDiet=${recipe.recipeName},
                    course=${recipe.recipeName})">
                </div>
            </div>
        </div>
    </div>

    <!-- landingPageFragment -->
    <div th:fragment="landingPageFragment()"  class="subPageContainer">
        <div class="container">
            <h1>Welcome to CookIt!</h1>
        </div>
    </div>

    <!-- loginFragment -->
    <div th:fragment="loginFragment()"  class="subPageContainer">
        <div class="container">

            <div class="row">
                <div class="loginColumn">
                    <h1>Login page</h1>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <!-- <div class="alert alert-danger">Invalid username or
                                password.</div> -->
                            <div class="alert">Invalid username or
                                password.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>: <input type="text"
                                                                           id="username" name="username" class="form-control"
                                                                           autofocus="autofocus" placeholder="Username" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>: <input type="password"
                                                                           id="password" name="password" class="form-control"
                                                                           placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="login-submit" id="login-submit"
                                           class="form-control btn btn-primary" value="Log In" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
						<span>New user? <a href="/" th:href="@{/signup}">Register
								here</a></span>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <!-- searchRecipesFragment -->
    <div th:fragment="searchRecipesFragment()"  class="subPageContainer">

        <h1>Search for recipes</h1>
        <form th:action="@{/recipes/searchRecipes}" th:object="${searchParams}" method="post">
            <div id="searchDropdownDiv">
                <div th:replace="thFragments.html :: cuisineDropdown(tags=${tagCuisine})"></div>
                <div th:replace="thFragments.html :: dietDropdown(tags=${tagDiet})"></div>
                <div th:replace="thFragments.html :: courseDropdown(tags=${tagCourse})"></div>
                <div th:replace="thFragments.html :: ingredientDropdown(ingredients=${ingredients})"></div>
            </div>
            <br/>
            <button type="submit" class="filterAddButton" id="filterRecipesButton">Filter recipes</button>
        </form>
        <h1>Search results</h1>
        <div id="searchRecipesResults">
            <div th:each="recipe:${recipes}">
                <div th:replace="thFragments.html :: recipeTileFragment(
                    name=${recipe.recipeName},
                    description=${recipe.recipeDescription},
                    duration=${recipe.recipeDuration},
                    id=${recipe.id})"></div>
            </div>
        </div>

    </div>

    <!-- signupFragment -->
    <div th:fragment="signupFragment()"  class="subPageContainer">

        <div class="container">
            <div class="row">
               <!-- <div class="col-md-6 col-md-offset-3">
-->
                <div class="signupContent">
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully registered CookIt!</div>
                    </div>

                    <h1>Registration</h1>

                    <form th:action="@{/signup}" th:object="${user}" method="post">

                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
                        </p>

                        <div class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                            <label for="userName" class="control-label">Username</label>
                            <input id="userName" class="form-control" th:field="*{userName}" />
                            <p class="error-message" th:each="error: ${#fields.errors('userName')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                            <label for="firstName" class="control-label">First name</label>
                            <input id="firstName" class="form-control" th:field="*{firstName}" />
                            <p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                            <label for="lastName" class="control-label">Last name</label>
                            <input id="lastName" class="form-control" th:field="*{lastName}" />
                            <p class="error-message" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                            <label for="email" class="control-label">E-mail</label>
                            <input id="email" class="form-control" th:field="*{email}" />
                            <p class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error
                            </p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                            <label for="confirmEmail" class="control-label">Confirm
                                e-mail</label> <input id="confirmEmail" class="form-control" th:field="*{confirmEmail}" />
                            <p class="error-message" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label">Password</label> <input id="password" class="form-control" type="password" th:field="*{password}" />
                            <p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                            <label for="confirmPassword" class="control-label">Confirm
                                password</label> <input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" />
                            <p class="error-message" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                            <input id="terms" type="checkbox" th:field="*{terms}" /> <label class="control-label" for="terms"> I agree with the <a
                                href="/termsAndConditions" th:href="@{/termsAndConditions}" th:target="_blank">terms and conditions</a> for Registration.
                        </label>
                            <p class="error-message" th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation error
                            </p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="goToRecipeButton">Register</button>
                            <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- singleRecipeFragment -->
    <div th:fragment="singleRecipeFragment()"  class="subPageContainer">
        <div th:replace="thFragments.html :: singleRecipe(
            name=${recipe.recipeName},
            duration=${recipe.recipeDuration},
            description=${recipe.recipeDescription},
            ingredients=${ingredients},
            specialDiet=${recipe.recipeName},
            course=${recipe.recipeName},
            tags=${tags})">
        </div>
    </div>


</body>

</html>