<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

    <!-- Fragment for recipe tile -->
    <div th:fragment="recipeTileFragment(name, description, duration)" class="recipeTileFragment">
        <h4 th:text="${name}">Name as header</h4>
        <div class="recipeInformation">
            <label>Duration: </label>
            </label><label th:text="${duration}">Duration</label>
            <label> min</label>
            <div>
                <h6>Cooking Instruction: </h6>
                <div th:text="${description}">Description</div>
            </div>
        </div>

    </div>


</body>
</html>