<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

    <!-- Fragment for recipe tile -->
    <div th:fragment="recipeTileFragment(name, description, duration)" class="recipeTileFragment">
        <h4 th:text="${name}" class="recipeName">Name as header</h4>
        <div class="recipeInformation">
            <label>Duration: </label>
            </label><label th:text="${duration}">Duration</label>
            <label> min</label>
            <div>
                <h6>Cooking Instruction: </h6>
                <div th:text="${description}">Description</div>
            </div>
        </div>
        <label>Compare: </label>
        <input type="checkbox" name="compareCheckBox"/>
        <button onclick="javascript:ReplaceContentInContainer('recipes/singleRecipe')">Go to recipe</button>
    </div>

    <!-- Fragments for dropDowns (for search and new recipes) -->
    <div th:fragment="courseDropdown()" class="dropdown" id="courseDropdown">
        <label>Course</label>
        <select multiple size="6">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
        </select>
    </div>
    <div th:fragment="dietDropdown()" class="dropdown" id="dietDropdown">
        <label>Special diet</label>
        <select multiple size="6">
            <option value="Gluten free">Gluten free</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Vegan">Vegan</option>
            <option value="Paleo">Paleo</option>
        </select>
    </div>

    <div th:fragment="cuisineDropdown()" class="dropdown" id="cuisineDropdown">
        <label>Cuisine</label>
        <select multiple size="6">
            <option value="Indian">Indian</option>
            <option value="Swiss">Swiss</option>
            <option value="Austrian">Austrian</option>
            <option value="French">French</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
            <option value="American">American</option>
        </select>
    </div>

    <div th:fragment="ingredientDropdown()" class="dropdown" id="ingredientDropdown">
        <label>Ingredient</label>
        <select multiple size="6">
            <option value="Milk">Milk</option>
            <option value="Eggs">Eggs</option>
            <option value="Chicken">Chicken</option>
            <option value="Celery">Celery</option>
            <option value="Apples">Apples</option>
            <option value="Oranges">Oranges</option>
            <option value="Rice">Rice</option>
            <option value="Noodles">Noodles</option>
            <option value="Mustard">Mustard</option>
        </select>
    </div>









    <!-- Fragment for recipe comparison -->
    <div th:fragment="recipeCompareFirstRowFragment()"
         class="recipeCompareFragment" id="recipeCompareFirstRow">
        <div class="comparisonRecipeTitle">
            <label>Recipe Name</label>
        </div>
        <div class="comparisonRecipeDuration">Duration</div>
        <div class="comparisonRecipeInstruction">Description</div>
        <div class="comparisonRecipeIngredients">Ingredients</div>
        <div class="comparisonRecipeDiet">Diet</div>
        <div class="comparisonRecipeCourse">Course</div>
    </div>

    <div th:fragment="recipeCompareFragment(name, duration, description, ingredients, specialDiet, course)"
         class="recipeCompareFragment">
        <div class="comparisonRecipeTitle">
            <label th:text="${name}">Name as header</label>
        </div>
        <br/>
        <div class="comparisonRecipeDuration">
            <label th:text="${duration}">Duration</label>
            <label> min</label>        </div>
        <div th:text="${description}" class="comparisonRecipeInstruction">Description</div>
        <div th:text="${ingredients}" class="comparisonRecipeIngredients">Ingredients</div>
        <div th:text="${specialDiet}" class="comparisonRecipeDiet">Diet</div>
        <div th:text="${course}" class="comparisonRecipeCourse">Course</div>
    </div>


    <!-- Fragment for singleRecipe -->
    <div th:fragment="singleRecipe(name, duration, description, ingredients, specialDiet, course)"
         class="singleRecipeFragment">
        <h1 th:text="${name}">Name as header</h1>
        <label>Duration: </label><label th:text="${duration}">Duration</label><label> min</label>
        <h3>Description</h3>
        <div th:text="${description}">Description</div>
        <h3>Ingredients</h3>
        <div th:text="${ingredients}">Ingredients</div>
        <h3>Special Diet</h3>
        <div th:text="${specialDiet}">Diet</div>
        <h3>Course</h3>
        <div th:text="${course}">Course</div>
    </div>

</body>
</html>